.Theme_root_default {
    --typography-body-font-family: 'Source Sans Pro', sans-serif;
    --typography-headline-font-family: 'Source Sans Pro', sans-serif;
    --typography-controls-font-family: 'Source Sans Pro', sans-serif;
    --text-caption-xl-font-size: 14px;
    --text-caption-xl-font-weight: 300;
    --text-caption-xl-lineheight: 1.2142857360839843em;
    --text-caption-xl-spacing: normal;
    --text-caption-l-font-size: 13px;
    --text-caption-l-font-weight: 300;
    --text-caption-l-lineheight: 1.2307691955566407em;
    --text-caption-l-spacing: normal;
    --text-caption-m-font-size: 12px;
    --text-caption-m-font-weight: 300;
    --text-caption-m-lineheight: 1.25em;
    --text-caption-m-spacing: normal;
    --text-headline-xxl-font-size: 42px;
    --text-headline-xxl-font-weight: 600;
    --text-headline-xxl-lineheight: 1.1904762268066407em;
    --text-headline-xxl-spacing: normal;
    --text-headline-xl-font-size: 38px;
    --text-headline-xl-font-weight: 600;
    --text-headline-xl-lineheight: 1.4736842346191406em;
    --text-headline-xl-spacing: normal;
    --text-headline-l-font-size: 32px;
    --text-headline-l-font-weight: 600;
    --text-headline-l-lineheight: 1.25em;
    --text-headline-l-spacing: normal;
    --text-headline-m-font-size: 26px;
    --text-headline-m-font-weight: 600;
    --text-headline-m-lineheight: 1.2307691955566407em;
    --text-headline-m-spacing: normal;
    --text-headline-s-font-size: 22px;
    --text-headline-s-font-weight: 600;
    --text-headline-s-lineheight: 1.3636363220214844em;
    --text-headline-s-spacing: normal;
    --text-headline-xs-font-size: 18px;
    --text-headline-xs-font-weight: 600;
    --text-headline-xs-lineheight: 1.4444444274902344em;
    --text-headline-xs-spacing: normal;
    --text-subheader-xl-font-size: 30px;
    --text-subheader-xl-font-weight: 600;
    --text-subheader-xl-lineheight: 1.1333333587646484em;
    --text-subheader-xl-spacing: normal;
    --text-subheader-l-font-size: 26px;
    --text-subheader-l-font-weight: 600;
    --text-subheader-l-lineheight: 1.1538461303710938em;
    --text-subheader-l-spacing: normal;
    --text-subheader-m-font-size: 22px;
    --text-subheader-m-font-weight: 600;
    --text-subheader-m-lineheight: 1.0909091186523439em;
    --text-subheader-m-spacing: normal;
    --text-subheader-s-font-size: 20px;
    --text-subheader-s-font-weight: 600;
    --text-subheader-s-lineheight: 1.2em;
    --text-subheader-s-spacing: normal;
    --text-body-long-xl-font-size: 22px;
    --text-body-long-xl-font-weight: 400;
    --text-body-long-xl-lineheight: 1.3636363220214844em;
    --text-body-long-xl-spacing: normal;
    --text-body-long-l-font-size: 18px;
    --text-body-long-l-font-weight: 400;
    --text-body-long-l-lineheight: 1.4444444274902344em;
    --text-body-long-l-spacing: normal;
    --text-body-long-m-font-size: 16px;
    --text-body-long-m-font-weight: 400;
    --text-body-long-m-lineheight: 1.375em;
    --text-body-long-m-spacing: normal;
    --text-body-long-s-font-size: 14px;
    --text-body-long-s-font-weight: 400;
    --text-body-long-s-lineheight: 1.5714285278320312em;
    --text-body-long-s-spacing: normal;
    --text-body-short-xl-font-size: 22px;
    --text-body-short-xl-font-weight: 400;
    --text-body-short-xl-lineheight: 1.181818161010742em;
    --text-body-short-xl-spacing: normal;
    --text-body-short-l-font-size: 18px;
    --text-body-short-l-font-weight: 400;
    --text-body-short-l-lineheight: 1.222222213745117em;
    --text-body-short-l-spacing: normal;
    --text-body-short-m-font-size: 16px;
    --text-body-short-m-font-weight: 400;
    --text-body-short-m-lineheight: 1.25em;
    --text-body-short-m-spacing: normal;
    --text-body-short-s-font-size: 14px;
    --text-body-short-s-font-weight: 400;
    --text-body-short-s-lineheight: 1.2857142639160157em;
    --text-body-short-s-spacing: normal;
}
