.Theme_root_default {
    --typography-body-font-family: 'Source Sans Pro', sans-serif;
    --typography-headline-font-family: 'Source Sans Pro', sans-serif;
    --typography-controls-font-family: 'Source Sans Pro', sans-serif;
    --text-caption-xl-font-size: 14px;
    --text-caption-xl-font-weight: 300;
    --text-caption-xl-lineheight: 1.2142857360839843em;
    --text-caption-xl-spacing: normal;
    --text-caption-l-font-size: 13px;
    --text-caption-l-font-weight: 300;
    --text-caption-l-lineheight: 1.2307691955566407em;
    --text-caption-l-spacing: normal;
    --text-caption-m-font-size: 12px;
    --text-caption-m-font-weight: 300;
    --text-caption-m-lineheight: 1.25em;
    --text-caption-m-spacing: normal;
    --text-headline-xxl-media-large-font-size: 72px;
    --text-headline-xxl-media-large-font-weight: 600;
    --text-headline-xxl-media-large-lineheight: 1.1111111450195312em;
    --text-headline-xxl-media-large-spacing: normal;
    --text-headline-xl-media-large-font-size: 64px;
    --text-headline-xl-media-large-font-weight: 600;
    --text-headline-xl-media-large-lineheight: 1.125em;
    --text-headline-xl-media-large-spacing: normal;
    --text-headline-l-media-large-font-size: 56px;
    --text-headline-l-media-large-font-weight: 600;
    --text-headline-l-media-large-lineheight: 1.1428571319580079em;
    --text-headline-l-media-large-spacing: normal;
    --text-headline-m-media-large-font-size: 44px;
    --text-headline-m-media-large-font-weight: 600;
    --text-headline-m-media-large-lineheight: 1.181818161010742em;
    --text-headline-m-media-large-spacing: normal;
    --text-headline-s-media-large-font-size: 32px;
    --text-headline-s-media-large-font-weight: 600;
    --text-headline-s-media-large-lineheight: 1.25em;
    --text-headline-s-media-large-spacing: normal;
    --text-headline-xs-media-large-font-size: 24px;
    --text-headline-xs-media-large-font-weight: 600;
    --text-headline-xs-media-large-lineheight: 1.3333332824707032em;
    --text-headline-xs-media-large-spacing: normal;
    --text-headline-xxl-font-size: 64px;
    --text-headline-xxl-font-weight: 600;
    --text-headline-xxl-lineheight: 1.125em;
    --text-headline-xxl-spacing: normal;
    --text-headline-xl-font-size: 56px;
    --text-headline-xl-font-weight: 600;
    --text-headline-xl-lineheight: 1.1428571319580079em;
    --text-headline-xl-spacing: normal;
    --text-headline-l-font-size: 44px;
    --text-headline-l-font-weight: 600;
    --text-headline-l-lineheight: 1.181818161010742em;
    --text-headline-l-spacing: normal;
    --text-headline-m-font-size: 36px;
    --text-headline-m-font-weight: 600;
    --text-headline-m-lineheight: 1.222222213745117em;
    --text-headline-m-spacing: normal;
    --text-headline-s-font-size: 24px;
    --text-headline-s-font-weight: 600;
    --text-headline-s-lineheight: 1.3333332824707032em;
    --text-headline-s-spacing: normal;
    --text-headline-xs-font-size: 18px;
    --text-headline-xs-font-weight: 600;
    --text-headline-xs-lineheight: 1.4444444274902344em;
    --text-headline-xs-spacing: normal;
    --text-subheader-xl-media-large-font-size: 36px;
    --text-subheader-xl-media-large-font-weight: 600;
    --text-subheader-xl-media-large-lineheight: 1.1111111450195312em;
    --text-subheader-xl-media-large-spacing: normal;
    --text-subheader-l-media-large-font-size: 32px;
    --text-subheader-l-media-large-font-weight: 600;
    --text-subheader-l-media-large-lineheight: 1.125em;
    --text-subheader-l-media-large-spacing: normal;
    --text-subheader-m-media-large-font-size: 28px;
    --text-subheader-m-media-large-font-weight: 600;
    --text-subheader-m-media-large-lineheight: 1.1428571319580079em;
    --text-subheader-m-media-large-spacing: normal;
    --text-subheader-s-media-large-font-size: 26px;
    --text-subheader-s-media-large-font-weight: 600;
    --text-subheader-s-media-large-lineheight: 1.1538461303710938em;
    --text-subheader-s-media-large-spacing: normal;
    --text-subheader-xl-font-size: 36px;
    --text-subheader-xl-font-weight: 600;
    --text-subheader-xl-lineheight: 1.1111111450195312em;
    --text-subheader-xl-spacing: normal;
    --text-subheader-l-font-size: 32px;
    --text-subheader-l-font-weight: 600;
    --text-subheader-l-lineheight: 1.125em;
    --text-subheader-l-spacing: normal;
    --text-subheader-m-font-size: 28px;
    --text-subheader-m-font-weight: 600;
    --text-subheader-m-lineheight: 1.1428571319580079em;
    --text-subheader-m-spacing: normal;
    --text-subheader-s-font-size: 26px;
    --text-subheader-s-font-weight: 600;
    --text-subheader-s-lineheight: 1.1538461303710938em;
    --text-subheader-s-spacing: normal;
    --text-body-long-xl-media-large-font-size: 24px;
    --text-body-long-xl-media-large-font-weight: 400;
    --text-body-long-xl-media-large-lineheight: 1.3333332824707032em;
    --text-body-long-xl-media-large-spacing: normal;
    --text-body-long-l-media-large-font-size: 20px;
    --text-body-long-l-media-large-font-weight: 400;
    --text-body-long-l-media-large-lineheight: 1.4em;
    --text-body-long-l-media-large-spacing: normal;
    --text-body-long-m-media-large-font-size: 18px;
    --text-body-long-m-media-large-font-weight: 400;
    --text-body-long-m-media-large-lineheight: 1.4444444274902344em;
    --text-body-long-m-media-large-spacing: normal;
    --text-body-long-s-media-large-font-size: 16px;
    --text-body-long-s-media-large-font-weight: 400;
    --text-body-long-s-media-large-lineheight: 1.375em;
    --text-body-long-s-media-large-spacing: normal;
    --text-body-long-xl-font-size: 24px;
    --text-body-long-xl-font-weight: 400;
    --text-body-long-xl-lineheight: 1.3333332824707032em;
    --text-body-long-xl-spacing: normal;
    --text-body-long-l-font-size: 20px;
    --text-body-long-l-font-weight: 400;
    --text-body-long-l-lineheight: 1.4em;
    --text-body-long-l-spacing: normal;
    --text-body-long-m-font-size: 18px;
    --text-body-long-m-font-weight: 400;
    --text-body-long-m-lineheight: 1.4444444274902344em;
    --text-body-long-m-spacing: normal;
    --text-body-long-s-font-size: 16px;
    --text-body-long-s-font-weight: 400;
    --text-body-long-s-lineheight: 1.375em;
    --text-body-long-s-spacing: normal;
    --text-body-short-xl-media-large-font-size: 24px;
    --text-body-short-xl-media-large-font-weight: 400;
    --text-body-short-xl-media-large-lineheight: 1.1666666412353515em;
    --text-body-short-xl-media-large-spacing: normal;
    --text-body-short-l-media-large-font-size: 20px;
    --text-body-short-l-media-large-font-weight: 400;
    --text-body-short-l-media-large-lineheight: 1.2em;
    --text-body-short-l-media-large-spacing: normal;
    --text-body-short-m-media-large-font-size: 18px;
    --text-body-short-m-media-large-font-weight: 400;
    --text-body-short-m-media-large-lineheight: 1.222222213745117em;
    --text-body-short-m-media-large-spacing: normal;
    --text-body-short-s-media-large-font-size: 16px;
    --text-body-short-s-media-large-font-weight: 400;
    --text-body-short-s-media-large-lineheight: 1.25em;
    --text-body-short-s-media-large-spacing: normal;
    --text-body-short-xl-font-size: 24px;
    --text-body-short-xl-font-weight: 400;
    --text-body-short-xl-lineheight: 1.1666666412353515em;
    --text-body-short-xl-spacing: normal;
    --text-body-short-l-font-size: 20px;
    --text-body-short-l-font-weight: 400;
    --text-body-short-l-lineheight: 1.2em;
    --text-body-short-l-spacing: normal;
    --text-body-short-m-font-size: 18px;
    --text-body-short-m-font-weight: 400;
    --text-body-short-m-lineheight: 1.222222213745117em;
    --text-body-short-m-spacing: normal;
    --text-body-short-s-font-size: 16px;
    --text-body-short-s-font-weight: 400;
    --text-body-short-s-lineheight: 1.25em;
    --text-body-short-s-spacing: normal;
}
